  <div class="jumbotron">
    <h1 class="title">Yes,I can !</h1>
    <p class="slogan">Work until expensive becomes cheap !!!
    <br>

    <br>

    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="http://www.webrecruit.co.uk/wp-content/uploads/2014/06/Job-mag-glass.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>find the job</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://imageog.flaticon.com/icons/png/512/30/30707.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>your strong point</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="thumbnail">
            <img src="http://image.flaticon.com/icons/svg/52/52961.svg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>here i am</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
